{% extends 'vendas/base.html' %}

{% block content %}
<h2>Adicionar Vendedor</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form.nome.label_tag }}
        {{ form.nome }}
    </div>
    <div class="form-group">
        {{ form.cpf.label_tag }}
        {{ form.cpf }}
    </div>
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.telefone.label_tag }}
        {{ form.telefone }}
    </div>
    <div class="form-group">
        {{ form.data_contratacao.label_tag }}
        {{ form.data_contratacao }}
    </div>
    <div class="form-group">
        {{ form.endereco.label_tag }}
        {{ form.endereco }}
    </div>
    <div class="form-check">
        {{ form.ativo }}
        {{ form.ativo.label_tag }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}