{% extends 'vendas/base.html' %}

{% block content %}
<h2>Lista de Veículos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        {% for veiculo in veiculos %}
        <tr>
            <td>{{ veiculo.id }}</td>
            <td>{{ veiculo.modelo }}</td>
            <td>R$ {{ veiculo.valor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}